EXPO_PUBLIC_SUPABASE_URL=https://dxpjbqlgivkpbbbvhexb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR4cGpicWxnaXZrcGJiYnZoZXhiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIzMjU4MTMsImV4cCI6MjA4NzkwMTgxM30.a3I2rNhqELUUri6I4fYcf9DFjNkpGPaUjirjFDyB_PI